.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height, 60px);
  padding: 0 24px;
  border-bottom: 1px solid var(--ui-separator);
}

.header__title {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--ui-text-bright);
}

.header__addon {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  align-items: center;
}

.header__addon__link {
  display: block;
  width: 24px;
  height: 24px;
  fill: var(--ui-foreground);
}
