.question {
  width: 100%;
  padding: 24px 30px;
}

.question__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  margin: 0;
}

.question__subtitle {
  display: flex;
  align-items: center;
  margin: 12px 0 0;
  padding: 4px 8px;
  border-radius: 100px;
  color: var(--ui-background);
  background-color: #f0ad4e;
  font-size: 0.8rem;
  font-weight: 700;
}

.question__content {
  line-height: 1.8;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
