:root {
  --ui-text: var(--text-default);
  --ui-text-bright: var(--text-dark);
  --ui-text-dim: var(--text-semi-dark);
  --ui-foreground: #52525b;
  --ui-background: #ffffff;
  --ui-separator: rgba(0, 0, 0, 0.15);

  --text-dark: rgba(0, 0, 0, 1);
  --text-semi-dark: rgba(0, 0, 0, 0.75);
  --text-default: rgba(0, 0, 0, 0.5);
  --text-semi-light: rgba(0, 0, 0, 0.35);
  --text-light: rgba(0, 0, 0, 0.2);
  --text-white: rgba(255, 255, 255, 1);
  --text-semi-white: rgba(255, 255, 255, 0.75);
  --text-semi-light-white: rgba(255, 255, 255, 0.35);

  --ui-maze-background: rgb(225, 225, 225);
}

[data-theme="dark"] {
  --ui-text: var(--text-semi-white);
  --ui-text-bright: var(--text-white);
  --ui-text-dim: var(--text-semi-light-white);

  --ui-background: #202124;
  --ui-foreground: #fafbfc;
  --ui-text: rgba(255, 255, 255, 1);
  --ui-separator: #5f6368;
  --ui-maze-background: rgb(49, 49, 49);
}
